@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    elena Krupenkin<br />
    ekrupen@gmail.com<br />
    <abbr title="Phone">Ph:</abbr>
    608 616-0148
</address>

